{% extends 'layout.html' %}
{% block title %}
    home
{% endblock %}
{% block content %}
    <h1>home</h1>
    <p>welcome to my first page made with html and flask. it consist in three forms where you can submit produts an orders in order to manage restaurant deliveries</p>
{% endblock %}